<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          type="text/css">
    <title>Upload Image to get Text</title>
</head>
<body>
<main class="flex-shrink-0">

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Upload Image</h1>
                <p class="lead text-muted">Upload an Image to Extract Text from that. I have used EasyOCR and Google
                    Cloud's Vision AI to fetch the text out of image.</p>
                <p>
                <div class="row">
                    <div class="col-12"><input type="file" id="file" name="file" accept="image/*" class="btn btn-primary my-2" title="Select File"></div>
                    <div class="col-12"><button id="btn_upload" class="btn btn-secondary my-2">Upload</button></div>
                </div>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h4 class="fw-normal">EasyOCR Result</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" id="easy_ocr_result"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h4 class="fw-normal">Vision AI Result</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" id="gv_result"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer py-5 mt-auto">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Created by Ankita Trivedi</p>
    </div>
</footer>
<script>
    upload_url = "{{ url_for('upload_file', _external=True) }}";
    $(document).ready(function () {
        $("#btn_upload").click(function () {
            var fd = new FormData();
            var files = $('#file')[0].files[0];
            fd.append('file', files);

            $.ajax({
                url: upload_url,
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function (response) {
                    if ($.trim(response).length > 10)
                    {
                        data = JSON.parse(response);
                        console.log(data);
                        $("#easy_ocr_result").html(data.e_ocr);
                        full_text = "";
                        segment_text = "<p><ul>";
                        $.each(data.gv_ocr.text_segments, function(i, item) {
                            segment_text += "<li>"+item+"</li>";
                        });
                        segment_text += "</ul></p>";
                        full_text += "<p>"+data.gv_ocr.text+"</p>"+segment_text;
                        $("#gv_result").html(full_text);
                    }
                    else
                    {
                        alert("Something went wrong please try again!");
                    }
                },
            });
        });
    });
</script>
</body>
</html>